/**
* CSS FOR SEDOO INVENTORY
* author : 
*/
.inventory-single-content-page .wrapper-layout .inventoryInfoContener ul li:last-child {
    margin-bottom: 20px;
}
.inventory-single-content-page .inventoryInfoContener p{
    font-size:15px;
}
.inventory-single-content-page .inventoryInfoContener ul, .inventory-single-content-page .inventoryInfoContener li{
    font-size:15px;
    list-style-type: none;
    padding: 0;
    margin:0
}

/* single template Sidebar */
.inventory-single-content-page .contextual-inventory-sidebar {         
    padding: 50px 0;
}

/* taxonomy template  */
.taxonomy-template .wrapper-layout, .archive-template .wrapper-layout  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}
.taxonomy-template aside, .archive-template aside  {
    padding: 50px;
}